<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>

   
    <sessionState cookieless="true" mode="SQLServer" allowCustomSqlDatabase="true"  compressionEnabled="true" sqlConnectionString="data source=sqltest;user id=sa;password=sqltest;"  timeout="20"/>
    <machineKey decryptionKey="EDCDA6DF458176504BBCC720A4E29348E252E652591179E2" validationKey="CC482ED6B5D3569819B3C8F07AC3FA855B2FED7F0130F55D8405597C796457A2F5162D35C69B61F257DB5EFE6BC4F6CEBDD23A4118C4519F55185CB5EB3DFE61" applicationName="BiWeekly"/>

    <httpCookies domain=".ourdomain.co.uk" />

  </system.web>
  <connectionStrings>

    <add name="dbConnectionString" connectionString="Data Source=LPTP-HGOPINATH;Initial Catalog=MelmarkNE1;User ID=Biweekly;Password=Biweekly1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>



    <add key="USServer1" value="patriots.melmarkne.org,sqltestda,sqltestda" />
    <add key="USServer2" value="celtics.melmarkne.org,sqltestda,sqltestda" />
    <add key="USServer3" value="bruins.melmarkne.org,sqltestda,sqltestda" />
    <add key="DomainName" value="melmarkne" />
    <add key="IsActiveLogin" value="N" />

    <!-- Sharepoint Data-->
    <add key="SharepointRpt" value="http://sqltest/sites/DatasheetReports"/>

  </appSettings>
</configuration>